main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}
main article {
  max-width: 750px;
  font-size: 1.25em;
}

.coc-header {
  text-align: left;
  font-weight: 550;
  padding: 1.5em;
  text-align: justify;
}

.coc-list {
  text-align: left;
}
.coc-list-elements {
  margin: 1em 0;
}

@media only screen and (max-width: 600px) {
  .coc-list-elements {
    margin-left: 1.5em;
    margin-right: 1em;
  }
}
