* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #0000ff;
}

.animation-container .animation-heading-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  height: 100%;
}

.animation-container {
  position: relative;
  height: 300px;
  background: url(../img/discord-page/bg-top-inner.png) no-repeat center center;
  background-size: cover;
  color: #ffffff;
  overflow: hidden;
  padding: 3.5rem 0;
}

.animation-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-heading {
  font-weight: 400;
  color: #05117c;
  font-size: 2.125rem;
  margin-top: 3.5rem;
  width: 95%;
}

.rds-name {
  color: #e30062;
}

.discord-info-para {
  margin-top: 2rem;
  margin-left: 10rem;
  width: 80%;
}

.discord-info-para p {
  font-size: 1.125rem;
}

.center-block {
  text-align: center;
}

.get-started-heading {
  font-weight: 400;
  color: #030f79;
  font-size: 2.125rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
}

.rds-channels-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rds-channels-list li {
  margin: 0 0 0.75rem 0;
}

.end-block {
  background: #f2f2f2;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discord-image {
  margin-top: 4rem;
  object-fit: cover;
  width: 90%;
  margin: 20px auto;
}

.image-div {
  width: 40%;
}

.rds-info-block {
  width: 35%;
}

footer {
  position: relative;
  margin-top: 40px;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
}

@keyframes moveLeftBounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationFramesOne {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes rotateme {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animation-heading {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

.animation-shapes {
  position: absolute;
}

.animation-shape-1 {
  top: 40px;
  right: 84px;
  max-width: 40px;
  z-index: 1;
  animation: rotateme 25s linear infinite;
}

.animation-shape-2 {
  top: 55px;
  right: 95px;
  max-width: 25px;
  animation: rotateme 25s linear infinite;
}

.animation-shape-3 {
  top: 160px;
  left: 350px;
  animation: animationFramesOne 15s infinite linear;
}

.animation-shape-4 {
  top: 50%;
  left: 50%;
  -webkit-animation: animationFramesOne 25s infinite linear;
  animation: animationFramesOne 25s infinite linear;
}

.animation-shape-5 {
  top: 70px;
  right: 50px;
  animation: animationFramesOne 25s infinite linear;
}

.animation-shape-6 {
  left: 20px;
  bottom: 30px;
  animation: rotateme 25s linear infinite;
  max-width: 50px;
}

.animation-shape-7 {
  bottom: 1rem;
  right: 1rem;
  animation: moveLeftBounce 3s linear infinite;
}

.animation-shape-8 {
  top: 10px;
  left: 10px;
  animation: animationFramesOne 25s infinite linear;
}

@media (max-width: 1024px) {
  .discord-info-para {
    margin-left: 6rem;
  }
}

@media (max-width: 768px) {
  .end-block {
    display: flex;
    flex-direction: column;
  }
  .image-div {
    width: 60%;
  }
  .rds-info-block {
    flex: 0 0 100%;
    min-width: 80%;
  }
  .discord-info-para {
    margin-left: 5rem;
  }
}

@media (max-width: 625px) {
  .get-started-heading {
    font-size: 20px;
    font-weight: 700;
  }
  .discord-info-para {
    margin-left: 2.75rem;
  }
  .new-heading {
    font-size: 1.75rem;
    font-weight: 700;
    margin-left: 0.6rem;
  }
  .help-heading {
    font-size: 20px;
    margin-right: 0.4rem;
  }
  .animation-heading {
    font-size: 2rem;
  }
  .server-heading {
    display: block;
  }
}

@media (max-width: 375px) {
  .discord-info-para {
    font-size: 1rem;
    margin: 1rem 2rem;
  }

  .new-heading {
    width: 97%;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 0.6rem;
  }

  .help-heading {
    font-size: 20px;
    margin-right: 0.4rem;
  }

  .animation-heading {
    font-size: 2rem;
  }

  .end-block {
    display: flex;
    flex-direction: column;
  }

  .rds-info-block {
    min-width: 75%;
  }

  .image-div {
    width: 80%;
    margin-top: 1rem;
  }

  .get-started-heading {
    font-size: 20px;
    font-weight: 700;
  }

  .server-heading {
    display: block;
  }
}
