html {
    position: relative;
    min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.question {
  font-weight: 400;
}

.answer {
  font-weight: 100;
  margin-left: 2%;
  margin-right: 10%;
}

h1 {
	text-align:center;
}

.topic {
	margin-left: 5%;
}

.questions-group {
	margin-left: 10%;
}

ul {
	margin-left: 5%;
}

ul li {
	list-style-type: square;
}

footer {
    position: absolute;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}