:root {
  --color-nav: #1d1283;
  --color-nav-text: #ffffff;
  --dropdown-hover: #d7d6d6;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-lime-green: #49a82e;
}

nav {
  font-family: 'roboto';
  font-weight: 700;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

nav li {
  float: left;
}

.rds-logo {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.nav-element {
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin: 55px 40px;
}

.nav-element.active-tab {
  color: #49a82e;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.nav-element:hover {
  color: #49a82e;
}

.nav-login {
  position: absolute;
  right: 0;
  top: 0;
  margin: 50px 40px;
}

.btn-login-text {
  border-radius: 6px;
  padding: 5px;
  background-color: #1d1283;
  color: white;
  cursor: pointer;
  border: 2px solid white;
}

.user-greet {
  font-weight: 700;
  display: none;
  color: #ffffff;
}

.user-greet a {
  text-decoration: none;
  color: #fff;
  padding: 0;
}

.user-profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
}

.user-greet-msg {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fff;
}

.home-tab {
  display: none;
}

.dropdown {
  width: 180px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  border-radius: 0.5rem;
  color: var(--color-black);
  position: absolute;
  top: 85px;
  right: 16px;
  z-index: 100;
}

.dropdown-list {
  padding: 0;
  margin: 0;
}

.dropdown-link {
  color: var(--color-black);
}

.line {
  border: none;
  border-bottom: 2px solid var(--color-black);
  margin: 0;
}

.dropdown-item {
  padding: 1rem;
  margin: 0 auto;
  list-style-type: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--dropdown-hover);
  border-radius: 0.5rem;
}

.hide {
  display: none;
}

.active-tab {
  color: var(--color-lime-green);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.dropdown a {
  text-align: center;
  text-decoration: none;
}

.nav-login-li:hover,
nav li a:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .nav-menu {
    display: none;
    background-color: #e1e1ec;
    padding: 10px 0px;
    box-shadow: 0px 10px 15px rgb(0 0 0 / 50%);
  }

  .nav-menu a {
    color: #1d1283;
  }

  .logo-link {
    display: none;
  }

  .hamburger {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
  }

  .nav-login {
    margin: 20px 20px;
  }

  nav li {
    float: none;
  }

  .nav-element {
    padding: 10px 40px;
    margin: 10px;
  }

  .nav-element.active-tab {
    text-decoration: none;
  }

  .nav-menu.active,
  .home-tab {
    display: block;
  }

  .welcome-text {
    margin-top: 20px;
  }
}

@media (max-width: 625px) {
  .btn-text2 {
    display: none;
  }
}
