:root {
  --color-nav: #1d1283;
  --color-nav-text: #ffffff;
  --dropdown-hover: #d0e7ff;
  --color-white: #ffffff;
  --color-black: #0d6efd;
  --color-lime-green: #49a82e;
  --skeleton-bg: #483bc0;
  --skeleton-shine-color: #edeef1;
}

nav {
  font-family: 'roboto';
  font-weight: 700;
  position: fixed;
  background-color: #1d1283;
  width: 100%;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

nav li {
  float: left;
}

.rds-logo {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.nav-element {
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin: 55px 40px;
}

.nav-element.active-tab {
  color: #49a82e;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.nav-element:hover {
  color: #49a82e;
}

.nav-login {
  position: absolute;
  right: 0;
  top: 0;
  margin: 50px 40px;
}

.btn-login-text {
  border-radius: 6px;
  padding: 5px;
  background-color: #1d1283;
  color: white;
  cursor: pointer;
  border: 2px solid white;
}
.hidden {
  display: none;
}
.skeleton-holder {
  display: flex;
  align-items: center;
}
.skeleton-rectangle {
  width: 105px;
  height: 42px;
  margin-right: 0.9rem;
  border-radius: 4px;
  background: var(--skeleton-bg);
  background-image: linear-gradient(
    to right,
    var(--skeleton-bg) 0%,
    var(--skeleton-shine-color) 20%,
    var(--skeleton-bg) 40%,
    var(--skeleton-bg) 100%
  );
  background-repeat: no-repeat;
  background-size: 300px 104px;

  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}
.skeleton-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: var(--skeleton-bg);
  background-image: linear-gradient(
    to right,
    var(--skeleton-bg) 0%,
    var(--skeleton-shine-color) 20%,
    var(--skeleton-bg) 40%,
    var(--skeleton-bg) 100%
  );
  background-repeat: no-repeat;
  background-size: 300px 104px;

  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}
.user-greet {
  font-weight: 700;
  display: none;
  color: #ffffff;
}

.user-greet a {
  text-decoration: none;
  color: #fff;
  padding: 0;
}

.user-profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
}

.user-greet-msg {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fff;
}

.home-tab {
  display: none;
}

.dropdown {
  width: 150px;
  border-radius: 10px;
  color: #000;
  position: absolute;
  top: 88px;
  right: 39px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-size: 0.87rem;
  justify-content: center;
  background-color: #fffbfb;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

.dropdown-list {
  padding: 0;
  margin: 0;
}

.dropdown-link {
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.line {
  border: 0;
  border-bottom: 1px solid;
  margin: auto;
  opacity: 0.25;
  color: inherit;
  width: 90%;
  padding: 0;
}

.dropdown-item-btn {
  width: 100%;
  font-weight: 700;
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  line-height: 19.575px;
  padding: 1rem 2rem;
  font-size: 0.87rem;
  text-align: start;
  cursor: pointer;
  border-radius: 0.5rem;
}

.dropdown-item-btn:hover {
  background-color: var(--dropdown-hover);
  transition: background-color 0.38s ease-in;
}

.hide {
  display: none;
}

.active-tab {
  color: var(--color-lime-green);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.dropdown a {
  text-align: center;
  text-decoration: none;
}

.nav-login-li:hover,
nav li a:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .nav-menu {
    display: none;
    background-color: #e1e1ec;
    padding: 10px 0px;
    box-shadow: 0px 10px 15px rgb(0 0 0 / 50%);
  }

  .nav-menu a {
    color: #1d1283;
  }

  .logo-link {
    display: none;
  }

  .hamburger {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
  }

  .nav-login {
    margin: 20px 20px;
  }

  nav li {
    float: none;
  }

  .nav-element {
    padding: 10px 40px;
    margin: 10px;
  }

  .nav-element.active-tab {
    text-decoration: none;
  }

  .nav-menu.active,
  .home-tab {
    display: block;
  }

  .welcome-text {
    margin-top: 20px;
  }
}

@media (max-width: 625px) {
  .btn-text2 {
    display: none;
  }
}

@media (max-width: 1023px) {
  .dropdown {
    top: 60px;
    right: 22px;
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
