<button
  type="button"
  class="{{if @disabled 'btn-disabled'}}"
  disabled={{@disabled}}
  {{on "click" this.buttonClickHandler}}
>
  {{#if @isSubmitClicked}}
    <i class="fa fa-spinner fa-spin"></i>
  {{/if}}
  {{yield}}
</button>
