@import "signup.css";
@import "notification.css";
@import "image-upload.css";
@import "tasks.css";
@import "sidebar.css";
@import "local-navbar.css";

html, body {
  font-family: 'Roboto', sans-serif, serif;
  font-size: 15px;
  height: 100%;
  background-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0;
  padding: 0;
  height: 100%;
}

.greeting {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer {
  font-weight: lighter;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  position: fixed;
  height: 40px;
  bottom: 0;
}
