@import 'signup.css';
@import 'notification.css';
@import 'image-upload.css';
@import 'tasks.css';
@import 'sidebar.css';
@import 'local-navbar.css';
@import 'profile.css';
@import 'get-started.css';
@import 'user-status.css';
@import 'components/input-field.css';
@import 'navbar.css';
@import 'identity.css';

html,
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif, serif;
  font-size: 15px;
  height: 100%;
  background-color: white;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0;
  padding: 0;
  flex: 100%;
  display: flex;
  flex-direction: column;
}

.greeting {
  text-align: center;
  margin-top: 50px;
}

.footer {
  font-weight: lighter;
  text-align: center;
  width: 100%;
  padding: 16px;
}

.loading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}


@media (max-width: 460px) {
  .footer {
    padding: 8px 8px 16px 8px;
    font-size: 14px;
  }
}
