@import "signup.css";
@import "notification.css";
@import "tasks.css";
@import "sidebar.css";

body {
  font-family: "Roboto", sans-serif, serif;
  font-size: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 