.identity-heading {
    margin-top: 25px;
    text-align: center;
}

.identity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.input-div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.identity-Buttons {
    background-color: rgb(81, 81, 245);
    color: white;
    display: inline;
    cursor: pointer;
    border-radius: 3px;
    padding: 4px 15px;
}

.copy-button {
    margin-left: 0.75rem;
    background-color: wheat;
    color: #e30062;
    border: 2px solid #e30062;
    padding: 2px 5px;
}

.identity-verify-btn {
    background-color: rgb(53, 194, 25);
    color: white;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 20px;
    border: none;
    margin-top: 1rem;
}

.identity-label {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.identity-check-label {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.input-url {
    height: 2rem;
}

.identity-Buttons:disabled,
.identity-verify-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.chaincode {
    font-weight: bold;
}

@media (max-width: 460px) {
    .identity-container {
        gap: 2rem;
    }

    .input-div {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        gap: 0.5rem;
    }

    .identity-label {
        flex-direction: column;
        gap: 0.5rem;
    }

    .identity-check-label {
        gap: 0.5rem;
        padding: 0 1rem;
        font-size: 0.8rem;
    }

    .identity-verify-btn {
        margin-top: 0;
    }    
}