.local-navbar {
  font-size: 0.87rem;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.local-navbar__link a {
  padding: 10px;
  text-decoration: none;
}

.local-navbar__link a:hover {
  cursor: pointer;
}

.active {
  color: var(--color-pink);
}

@media screen and (max-width: 371px) {
  .local-navbar__link a {
    padding: 5px;
  }

  .local-navbar {
    font-size: 0.75rem;
  }
}
