* {
  margin: 0;
  padding: 0;
}

nav {
  font: 'Roboto', sans-serif;
  font-weight: 700;
}

nav li a {
  margin: 10px;
  display: block;
  color: var(--color-white);
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
}

nav li {
  float: left;
}

nav li a:hover {
  color: var(--color-green-light);
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-blue-dark);
}

.nav__menu__logo {
  padding: 12px 20px;
}

.nav__menu__logo a {
  margin: 0px;
  padding: 0px;
}

.nav__user__li {
  float: right;
}

.nav__menu__home {
  display: none;
}

.user {
  display: block;
  position: absolute;
  top: 0;
  right: 0px;
}

.user__greet {
  color: var(--color-white);
  margin: 23px;
}

.user__profile__pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
}

.user__greet__msg {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

.hamburger--toggle {
  display: none;
}

@media screen and (max-width: 970px) {
  .nav {
    background: var(--color-blue-dark);
  }

  .hamburger--toggle {
    margin: 20px;
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: var(--color-white);
  }

  .nav-menu {
    background: white;
    display: none;
    width: 100%;
    padding: 10px 0px;
    box-shadow: 0px 10px 15px var(--color-black--transparent-5);
  }

  .active-nav {
    display: block;
  }

  .nav__menu__home {
    display: block;
  }

  nav li a {
    padding: 10px 40px;
    text-align: left;
    color: var(--color-blue-dark);
    text-decoration: none;
    display: block;
  }

  .nav__user__li,
  .nav__menu__logo {
    display: none;
  }

  nav li {
    float: none;
  }

  .user__greet {
    margin: 18px;
  }
}
