.notifications {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
}

.new-message-box {
  margin-top: 30px;
  padding-left: 20px;
  width: 100%;
}

.info-tab {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  top: 8px;
}

.info-tab {
  float: left;
  margin-left: -23px;
}

.info-tab i::before {
  width: 24px;
  height: 24px;
  box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5);
}

.info-tab i::after {
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: var(--color-white);
  border-left-color: var(--color-white);
  bottom: -18px;
}

.info-tab i::before,
.info-tab i::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -17px;
  transform: rotateX(60deg);
}

.tip-box-alert {
  padding: 10px 10px 10px 20px;
  color: var(--alert-box-color);
  background: var(--alert-box-background);
  flex-direction: column;
}

.new-message-box-alert {
  background: var(--notification-primary-background);
  padding: 3px;
  margin: 10px 0;
}

.tip-icon-alert {
  background: var(--notification-primary-background);
}

@media (max-width: 800px) {
  .notifications {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: stretch;
    justify-content: center;
    margin: 0 10%;
  }
}

.text-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.text-description {
  font-size: 1rem;
}

@media (max-width: 480px) {
  .text-title {
    font-weight: bold;
    font-size: 1rem;
  }

  .text-description {
    font-size: 0.75rem;
  }
}
