h1 {
  font-size: 2em;
  text-align: center;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  color: var(--color-gray-dark);
  text-align: center;
  padding: 1em 0;
}

.form {
  width: 70vw;
  max-width: 45rem;
  min-width: 300px;
  margin: 40px auto;
  padding: 3em 1.5em;
  background-color: var(--color-white--form-bg);
  border-radius: 8px;
}

.field {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.field label {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 0;
}

.field input {
  padding: 1em;
  border: #666 1px solid;
  border-radius: 5px;
  width: 100%;
}

.field input:focus {
  border: none;
}

.field > .error {
  font-size: 0.8rem;
  color: var(--color-field-error);
}

.errorBorder {
  border: 1px solid var(--color-red) !important;
}

.disabledButton {
  opacity: 0.5;
}

.submitButton {
  background-color: var(--button-submit-color);
  font-size: 1rem;
  color: var(--color-white);
  width: 100%;
  margin-top: 1em;
  padding: 1em 0.5em;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.help-msg {
  font-size: 10px;
  text-align: left;
}
