h1 {
  font-size: 2em;
  text-align: center;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  color: #666;
  text-align: center;
  padding: 1em 0;
}

.form {
  width: 70vw;
  max-width: 45rem;
  min-width: 300px;
  margin: 40px auto;
  padding: 3em 1.5em;
  background-color: rgb(231, 231, 231);
  border-radius: 8px;
}

.field {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.field label {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 0;
}

.field input {
  padding: 1em;
  border: #666 1px solid;
  border-radius: 5px;
  width: 100%;
}

.field input:focus {
  border: none;
}

.field>.error {
  font-size: 0.8rem;
  color: #e74c3c;
}

.errorBorder {
  border: 1px solid red !important;
}

.disabledButton {
  opacity: 0.5;
}

.submitButton {
  background-color: #43a047;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  margin-top: 1em;
  padding: 1em 0.5em;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.help-msg {
  font-size: 10px;
  text-align: left;
}

/* New Signup flow styles */

.container {
  width: 100%;
  color: #666;
  text-align: center;
  padding: 1em 0;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 80vh;
  width: 70%;
  margin: auto;
}

.user-details>* {
  padding: 2rem;
}

.user-details__heading {
  font-size: 2rem;
  color: black;
  text-align: left;
}

.user-details__field input {
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 10px;
  border: 2px solid darkgray;
  font-size: 3rem;
}

.signup-action__btn button {
  padding: .75rem 2rem;
  border-radius: 10px;
  outline: none;
  background-color: green;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 40%;
  display: block;
  margin: auto;
  font-size: 2rem;
  border: none;
}

.signup-action__btn button.btn-disabled {
  background: #ccc;
}

@media (max-width: 768px) {
  .user-details {
    width: 80%;
  }
}

@media (max-width: 568px) {
  .user-details {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .signup-action__btn button {
    width: 70%;
  }
}
