.container {
  width: 100%;
  color: #666;
  text-align: center;
  padding: 1em 0;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 80vh;
  width: 70%;
  margin: auto;
}

.user-details > * {
  padding: 2rem;
}

.user-details__heading {
  font-size: 2rem;
  color: black;
  text-align: left;
}

.user-details__field input {
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 10px;
  border: 2px solid darkgray;
  font-size: 3rem;
}

.signup-action__btn button {
  padding: .75rem 2rem;
  border-radius: 10px;
  outline: none;
  background-color: green;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 40%;
  display: block;
  margin: auto;
  font-size: 2rem;
  border: none;
}

.signup-action__btn button.btn-disabled {
  background: #ccc;
}

@media (max-width: 768px) {
  .user-details {
    width: 80%;
  }
} 

@media (max-width: 568px) {
  .user-details {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .signup-action__btn button {
    width: 70%;
  }
}
