.container {
  width: 100%;
  color: #666;
  text-align: center;
  padding: 1em 0;
}

.form {
  width: 60vw;
  max-width: 40rem;
  min-width: 300px;
  margin: 0 auto;
  padding: 1em 1.5em;
  border: 1px solid #f4f4f4;
  border-radius: 2%;
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.65);
}

.field {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.field label {
  font-size: 1rem;
  font-weight: bold;
}

.field input {
  padding: 1em;
  border: #666 1px solid;
  border-radius: 5px;
  width: 100%;
}

.field input:focus {
  border: none;
}

.field > .error {
  font-size: 0.8rem;
  color: #e74c3c;
}

.errorBorder {
  border: 1px solid red !important;
}

.disabledButton {
  opacity: 0.5;
}

.submitButton {
  background-color: #43a047;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  margin-top: 1em;
  padding: 1em 0.5em;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.help-msg {
  font-size: 10px;
  text-align: left;
}
