.heading h2 {
  color: var(--color-blue--heading);
  margin: 50px 0 40px;
  font-size: 1.75rem;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.buttons__idle {
  font-size: 1.25rem;
  color: var(--button-idle-color);
  font-weight: 700;
  border: 3px solid var(--button-idle-color);
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  background: var(--color-white);
  cursor: pointer;
}

.buttons__active {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--button-active-color);
  border: 3px solid var(--button-active-color);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
  background: var(--color-white);
  cursor: pointer;
}

.buttons--small {
  font-weight: 700;
  color: var(--color-blue--small-button-text);
  border: none;
  background: var(--color-white);
  cursor: pointer;
}
