<button
  data-test-signup-button
  type="button"
  class="{{if @disabled 'btn-disabled'}}"
  disabled={{@disabled}}
  {{on "click" @onClick}}
>
  {{#if @isLoading}}
    <i class="fa fa-spinner fa-spin" data-test-signup-button-spinner></i>
  {{/if}}
  {{yield}}
</button>