<div class="new-message-box">
  <div class="new-message-box-alert">
    <div class="info-tab tip-icon-alert">
      <i/>
    </div>
    <div class="tip-box-alert">
      <p class="text-title">{{@title}}</p>
      <p class="text-description">{{@description}}</p>
    </div>
  </div>
</div>
