<div class="new-message-box">
      <div class="new-message-box-alert">
            <div class="info-tab tip-icon-alert"><i></i></div>
                  <div class="tip-box-alert">
                        <h3>{{@title}}</h3>
                        <p> {{@description}}</p>
                  </div>
      </div>
</div>
