<div class="sidebar">
  <div class="sidebar__dropdown-container">
    {{#each @taskStatusList as |status|}}
      <button
        href="#"
        class="sidebar__dropdown-container__button"
        {{on "click" (fn @changeUserSelectedTask status)}}
        type="button"
      >
        {{status.displayLabel}}
      </button>
    {{/each}}
  </div>
</div>