<div class="task-details">
  <p class="task-details__title"><b>Title: </b>{{@task.title}}</p>
  <p class="task-details__purpose"><b>Purpose: </b>{{@task.purpose}}</p>
  <div class="dates-info">
    <div class="dates-info__end">
      <p><b>Deadline: </b>{{convertDate @task.endsOn end_date=1}}</p>
    </div>
    <div class="dates-info__start">
      <p><b>Started: </b> {{convertDate @task.startedOn end_date=0}}</p>
    </div>
  </div>
</div>