<div class="task-details">
  <p class="task-details__title"><b>Title: </b>{{@task.title}}</p>
  <p class="task-details__purpose"><b>Purpose: </b>{{@task.purpose}}</p>
  <div class="dates-info">
    <div class="dates-info__end">
      <p><b>Ends On: </b>{{@task.endsOn}}</p>
    </div>
    <div class="dates-info__start">
      <p><b>Started On:</b> {{@task.startedOn}}</p>
    </div>
  </div>
</div>