*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  position: relative;
  font-size: 16px;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
} */

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  padding: 0px;
  margin: 0 auto;
  background-color: antiquewhite;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  margin: 0 -15px;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
a {
  outline: none;
  text-decoration: none;
  color: #041187;
}

a:focus,
a:hover {
  color: #00084d;
  transition-delay: 0.2s;
  transition-property: color, border-bottom, background;
  transition-timing-function: linear;
}

a:active {
  background: #f20a67;
  color: white;
}

.logo-img {
  width: 300px;
  margin: 2em;
}

.info-note {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

.highlighted-text {
  color: #e20665;
}

.highlighted-text a {
  color: #041484;
}

.cta-button__container {
  text-align: center;
  margin: 60px auto;
}

.cta-button {
  background-color: #041484;
  border-radius: 5px;
  color: #fff1f6;
  cursor: pointer;
  padding: 30px 50px;
  font-size: 1.1em;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 1px 1px 14px -3px rgba(0, 0, 0, 0.42);
}

footer a {
  color: blue;
}
.col-6 {
  padding: 0 15px;
}
.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}
@media (min-width: 420px) {
  .cta-button {
    font-size: 1.7em;
  }
}

.cta-button:hover {
  background-color: #030c4c;
  transition: background-color 0.2s ease-in;
  outline: #041484;
}

.link-seperators {
  color: #e20665;
}

@media screen and (max-width: 780px) {
  .info-repo {
    font-size: 0.7rem;
  }
}

.channel-info {
  margin-left: 15px;
}

/* last screen code */

.sample {
  padding: 3rem 0;
}

.event-title {
  width: auto;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: #e30062;
}

.upcoming-event {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  text-align: center;
}

.api-event {
  margin: 15px 5px;
  font-size: 20px;
  border-bottom: 1px solid;
  color: #604af0;
}

.previous-event {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  text-align: center;
}

.events-box {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.events {
  color: #604af0;
  border-bottom: 1px solid;
  margin: 0 0.25rem;
}
.video-holder {
  width: 100%;
  background-color: #f7f4f4;
  padding: 3rem 28rem;
}

.video-holder > .video-text {
  margin: 0 auto 40px;
  font-size: 2rem;
  text-align: center;
}
.rectangle {
  background-color: white;
  margin-top: 5rem;
}

footer {
  position: relative;
  margin-top: 40px;
  bottom: 0;
  width: 100%;
  padding: 1em;
  text-align: center;
}

.info-repo {
  margin: 2rem auto;
  text-align: center;
}
