*, ::after, ::before {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin:0;
  /*
  Thin 100
  Regular 400
  */
}
.container{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}
.text-center{
  text-align: center;
}
.justify-content-center{
justify-content: center;
}
.col-8{
  -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
@font-face {
  font-family: 'rds';
  src:  url('../../fonts/rds.eot?kckyxh');
  src:  url('../../fonts/rds.eot?kckyxh');
  src:  url('../../fonts/rds.eot?kckyxh#iefix') format('embedded-opentype'),
    url('../../fonts/rds.ttf?kckyxh') format('truetype'),
    url('../../fonts/rds.woff?kckyxh') format('woff'),
    url('../../fonts/rds.svg?kckyxh#rds') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rds' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e900";
}
.icon-plus:before {
  content: "\e901";
}

@media(max-width:767.98px){
  .col-8{
    flex: 0 0 100%;
    max-width: 100%;
  }
}
a {
  outline: none;
  text-decoration: none;
}

a:focus, a:hover {
  border-bottom: 1px solid;
  background: #100170;
  color: white;
}

a:active {
  background: #f20a67;
  color: white;
}

.welcome-title {
  margin-top: 70px;
  text-align: center;
  font-weight: 400;
}

.logo-img {
  width: 300px;
  display: block;
  margin: 100px auto;
}

.info-note {
  text-align: center;
  font-weight: 400;
}

.highlighted-text {
  color: #e20665;
}

.highlighted-text a {
  color: #041484;
}

footer {
  margin: 200px 0;
}

.info-repo {
  font-weight: 100;
  margin: 0 auto;
  text-align: center;
}

.cta-button__container {
  text-align: center;
  margin: 60px auto;
}

.cta-button {
  background-color: #041484;
  border-radius: 5px;
  color: #fff1f6;
  cursor: pointer;
  padding: 30px 50px;
  font-size: 1.1em;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 1px 1px 14px -3px rgba(0,0,0,0.42);
}

@media (min-width: 420px) {
  .cta-button {
    font-size: 1.7em;
  }
}

.cta-button:hover {
  background-color: #030c4c;
  transition: background-color 0.2s ease-in;
  outline: #041484;
}