.input-field__container {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input-field__container label {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 0;
}

.input-field {
  padding: 1rem;
  border: 1px solid var(--color-gray-dark);
  border-radius: 5px;
  width: 100%;
}

.input-field:focus {
  border: 1px solid var(--color-blue--focus);
}

.error {
  font-size: 0.8rem;
  color: var(--color-field-error);
}

.help-msg {
  font-size: 0.8rem;
  text-align: left;
}

.error-border {
  border: 1px solid var(--color-red);
}
