


.discord-wrapper {
  margin-left: 5%;
}

.main-heading {

  text-align: left;
  font-weight: 600;

  margin: 40px 0 30px 0;
}

.get-started {
  text-align: left;
  font-weight: 550;
  
}
.discord > *{
  text-align: left;
  font-weight: 500;
  font-size: 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;  

}

.discord-info {
  
  text-align: left;
  font-weight: 500;
  font-size: 1em;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container {
  margin-top: 30px;
  margin-bottom: 40px;
}

.category-img{
  margin-left: 2px;
  width: 61%;
}

ul {
  text-align: left;
  font-weight: 500;
  margin-left: 0.5%;
  padding: 10px;
}
ol {
  margin-left: 4%;
  font-weight: 500;
  padding: 10px;
}

.category-name {
  margin-top: 10px;
}
.channel-name {
  margin-top: 5px;
}

@media only screen and (max-width: 650px) {
  .category-img {
    width: 90%;
  }
}

@media only screen and (min-width: 651px) and (max-width: 950px) {
  .category-img {
    width: 85%;
  }
}
