.discord-wrapper {
  margin-left: 5%;
}

.welcome-title {
  font-size: 1.5em;
}
.main-heading {
  text-align: left;
  margin: 40px 0 30px 0;
}

.get-started {
  margin: 40px 0 30px 0;
  text-align: left;
  font-weight: 550;
}

.discord-info {
  text-align: left;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  word-spacing: 1px;
}

p {
  margin: 2px;
}

.category-img {
  margin-top: 6px;
  margin-left: 2px;
  width: 61%;
}

ul {
  text-align: left;
  font-weight: 500;
  margin-left: 0.5%;
  padding: 10px;
}
ol {
  margin-left: 4%;
  font-weight: 500;
  padding: 10px;
}

.category-name {
  margin-top: 10px;
}
.channel-name {
  margin-top: 5px;
}

@media only screen and (max-width: 650px) {
  .category-img {
    width: 90%;
  }
}

@media only screen and (min-width: 651px) and (max-width: 950px) {
  .category-img {
    width: 85%;
  }
}
