html {
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #0000ff;
  font-weight: 400;
}

h1 {
  text-align: center;
}

.topic {
  margin-top: 4%;
  font-size: 1.48rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.faq {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 2rem;
}

.faq__title h3 {
  font-weight: 400;
  margin: 0;
  font-size: inherit; 
  cursor: pointer;
}

.faq__title {
  text-transform: capitalize;
  justify-content: space-between;
  min-height: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.faq__title::after {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.faq__text {
  word-spacing: 1px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.faq__text p {
  border-top: 1px solid rgb(24 121 255);
  padding-top: 1rem;
}

.faq__btn {
  background: transparent;
  border-color: #e30062;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0;
  text-align: center;
  line-height: 24px;
  border-width: 1px;
  position: relative;
}

.faq__btn:after,.faq__btn:before{
  content: '';
  background: #041187;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.faq__btn:after{
  width: 16px;
  height: 2px;
}

.faq__btn:before{
  height: 16px;
  width: 2px;
} 

.faq__list {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

.faq__list li {
  padding-left: 17px;
  position: relative;
  margin-bottom: 5px;
}

.faq__list li::before {
  content: "";
  background: url(../../img/logos/list-icon.png);
  width: 15px;
  height: 15px;
  display: inline-block;
  top: 2px;
  position: absolute;
  left: 0;
  background-size: cover;
}

footer {
  position: relative;
  height: 50px;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0px;
}

@media (max-width: 575.98px) {
  .faq__btn {
    flex: 0 0 24px;
    margin-left: 15px;
  }
}
