* {
  box-sizing: border-box;
}

.container {
  max-width: 85%;
  text-align: center;
  font-size: 1.5rem;
}

.cards-title {
  margin-bottom: 32px;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  border: 1px solid #f3efef;
  box-shadow: 0 0 15px -9px rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  width: 30%;
  padding: 18px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 0.8em;
  text-align: center;
  color: #000000;
}

.card:hover {
  box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.65);
  color: #000000;
}

.card:active {
  background-color: #fff;
  color: #929292;
}

.social-handles {
  margin: 3em 0;
  font-size: 1em;
}

@media screen and (max-width: 780px) {
  .container {
    max-width: 95%;
    font-size: 0.9rem;
  }
  .card {
    padding: 10px;
  }
  .logo-img {
    margin: 0;
  }
}


