 *{
  margin:0px;
  padding:0px;
 }
 .nav-container {
    
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background: #fff;
    z-index:1;
    

}
  
nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.15);
    
    
    

}



nav .menu {
    grid-column: 2;
    align-self: center;
    padding: 2%;
  }

nav li a:hover,a:focus{
    background-color: transparent;
    border-bottom: none;
    font-weight: 400;

  }

nav li a:active {
  background: transparent;
  color: white;
  font-weight: 400;

}

#nav-toggle, .burger-menu {
    display: none;
  }

nav ul{
  text-align: center;
}

nav li{
   list-style: none;
   display:inline;
   margin-right: 10px;
   padding: 10px 5px;
   border-radius:5px;
}

nav a {
    color:#000000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: .2s all ease-in-out;
    padding: 12px 10px ;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
   
  }
nav li:hover{
    background-color:#041187;
    transition: .4s all ease-in-out;

  }

nav li:hover a{
    color: white;
    
  }



  
.burger-menu {
    grid-column: 1;
    align-self: center;
    padding: 4px;
    margin-left: 10px;

    
  }

@media only screen and (max-width: 1150px) {
  .burger-menu {
      display: inline-block;
      width: 40px;
     }

  nav ul{
    width:95%;
    margin:0 auto;
  }


  
  nav li{
          margin-bottom:24px;
          list-style: none;
          display:inline-block;
          text-align: center;
          width:100%;
        }
  
  #nav-toggle:checked ~ .menu {
      display: grid;
      grid-row: 2;
      grid-column:2;

    }

    .menu {
      display: none;
    }
  
  }

.active{
  background-color:#041187;
  
}  
.active-a{
  color:white;
}   
       

