 
 .nav-container {
    width: 100%;
     background: #0931E9;
  }
  
 nav {
    max-width: 1720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 0.8fr;
    
  }

  .left-menu {
    grid-column: 2;
    align-self: center;
    padding: 2%;
  }


   #nav-toggle, .burger-menu {
    display: none;
  }



   @media only screen and (max-width: 1150px) {
    .burger-menu {
      display: inline-block;
      

    }
    #nav-toggle:checked ~ .left-menu {
      display: grid;
      grid-row: 2;
      grid-column:1;
    }

    .left-menu {
      display: none;
    }
  }

 


nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-right: 2%;
    transition: .3s all ease-in-out;
  }
 nav a:hover {
    opacity: .7;
  }
.left-menu a {
    padding: 10px 0;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  
  .burger-menu {
    grid-column: 1;
    align-self: center;
    margin-left: 20px;
  }

      
       

