* {
  margin: 0;
  padding: 0;
}

header {
  position: static;
  top: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1283;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.active {
  color: #87d870;
}

nav .menu {
  grid-column: 2;
  align-self: center;
}
.nav-logo-img {
  width: 35px;
  height: 35px;
}
.nav-logo {
  padding: 5px 8px;
}
.login-btn {
  float: right;
}

#nav-toggle,
.burger-menu {
  display: none;
}

.burger-menu {
  grid-column: 1;
  margin-left: 1em;
}
.nav-home {
  display: none;
}

@media only screen and (max-width: 1150px) {
  .burger-menu {
    display: inline-block;
    color: white;
    margin: 0px;
    font-size: 25px;
    line-height: 0;
  }
  .nav-logo {
    display: none;
  }
  .nav-home {
    display: flex;
  }
  nav {
    padding: 1em;
    background-color: #1d1283;
  }

  nav ul {
    margin-top: 1rem;
  }

  #nav-toggle:checked ~ .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .menu {
    display: none;
  }
}

li.active a {
  color: white;
}
