.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.jacenter {
  @extend .d-flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid #d1d1d1;
  background: #ededed;
  border-radius: 4px;
  &--border {
    background: transparent;
    
    &-primary {
      border-color: #041287;
      &:hover{
          background:#e40062 ;
          color: #ffffff;
          border-color: #e40062;
      }
    }
  }
}
