*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  position: relative;
  font-size: 16px;
}
img{
  max-width: 100%;
  vertical-align: middle;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.justify-content-center {
  justify-content: center;
}
.row{
  display: flex;
    margin: 0 -15px;
    flex-direction: row;
    flex-wrap: wrap;
}
.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;

}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
padding:0 15px;
}

@media (max-width: 767.98px) {
  .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
a {
  outline: none;
  text-decoration: none;
  color:#041187;
}

a:focus,
a:hover {
  color:#00084d;
  transition-delay:0.2s;
  transition-property:color, border-bottom,background;
  transition-timing-function:linear;
}

a:active {
  background: #f20a67;
  color: white;
}

.welcome-title {
  margin-top: 85px;
  text-align: center;
  font-weight: 400;
}

.logo-img {
  width: 300px;
  display: block;
  margin: 100px auto;
}

.info-note {
  text-align: center;
  font-weight: 400;
}

.highlighted-text {
  color: #e20665;
}

.highlighted-text a {
  color: #041484;
}

footer {
  margin: 200px 0;
}

.info-repo {
  font-weight: 100;
  margin: 0 auto;
  text-align: center;
}

.cta-button__container {
  text-align: center;
  margin: 60px auto;
}

.cta-button {
  background-color: #041484;
  border-radius: 5px;
  color: #fff1f6;
  cursor: pointer;
  padding: 30px 50px;
  font-size: 1.1em;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 1px 1px 14px -3px rgba(0, 0, 0, 0.42);
}

@media (min-width: 420px) {
  .cta-button {
    font-size: 1.7em;
  }
}

.cta-button:hover {
  background-color: #030c4c;
  transition: background-color 0.2s ease-in;
  outline: #041484;
}

.link-seperators {
	color:#e20665;
}
