{{page-title "My"}}
<div class="main-container">
  <LocalNavbar/>
  {{outlet}}
</div>
<p class="footer">Contents of this website are deployed from this
  <a href="https://github.com/Real-Dev-Squad/website-my" target="_blank" rel="noopener noreferrer">
    open sourced repo
  </a>
</p>
